In [6]:
import numpy as np
import pandas as pd
import json

# For each region, create a list of its GID

## Load the IVS data grouped by region

In [7]:
IVS_region = pd.read_csv("out/IVS_grouped_by_country_region.csv", encoding="utf-16", low_memory=False)
IVS_region.head()

,Survey,Wave,Country Numeric,Country Name,Country ISO3,Region Numeric,Region Name,NUTS1,NUTS2,NUTS3,...,X053_1,X053_2,X053_3,X053_4,X053_5,X053_6,X053_7,X053_8,X053_9,X053_10
0,EVS,1981-1984,56,Belgium,BEL,56021,BE: unknown,-4,-4,-4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,EVS,1981-1984,56,Belgium,BEL,56022,BE: unknown,-4,-4,-4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,EVS,1981-1984,56,Belgium,BEL,56023,BE: unknown,-4,-4,-4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,EVS,1981-1984,56,Belgium,BEL,56024,BE: unknown,-4,-4,-4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,EVS,1981-1984,56,Belgium,BEL,56025,BE: unknown,-4,-4,-4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Load the region codes to GID dictionaries and add the list of GID to the IVS data

## WVS/EVS

In [8]:
VWS_to_gid = pd.read_csv("gid/region_codes_to_GID_WVS_EVS.csv", low_memory=False)
VWS_to_gid.drop("Region Name", inplace=True, axis=1)
#remove empty lines
VWS_to_gid.dropna(how="all", inplace=True) 
VWS_to_gid['Country Numeric'] = VWS_to_gid['Country Numeric'].astype(np.int64)
VWS_to_gid['Region Numeric'] = VWS_to_gid['Region Numeric'].astype(np.int64)
VWS_to_gid

    Survey       Wave  Country Numeric Country ISO3  Region Numeric       gid
0      WVS  2010-2014              840          USA          840001  USA.20_1
1      WVS  2010-2014              840          USA          840001  USA.46_1
2      WVS  2010-2014              840          USA          840001  USA.30_1
3      WVS  2010-2014              840          USA          840001  USA.22_1
4      WVS  2010-2014              840          USA          840001  USA.40_1
..     ...        ...              ...          ...             ...       ...
818    WVS  2010-2014              752          SWE          752020  SWE.17_1
819    WVS  2010-2014              752          SWE          752026  SWE.18_1
820    WVS  2010-2014              752          SWE          752024  SWE.19_1
821    WVS  2010-2014              752          SWE          752021  SWE.20_1
822    WVS  2010-2014              752          SWE          752029  SWE.21_1

[798 rows x 6 columns]

In [9]:
VWS_to_list_gid = VWS_to_gid.groupby(list(VWS_to_gid.columns[:-1])).agg({'gid':lambda x: ':'.join(list(x))}).reset_index()
VWS_to_list_gid

,Survey,Wave,Country Numeric,Country ISO3,Region Numeric,gid
0,WVS,1999-2004,50,BGD,50001,BGD.3.1_1
1,WVS,1999-2004,50,BGD,50002,BGD.2.4_1
2,WVS,1999-2004,50,BGD,50003,BGD.1.2_1
3,WVS,1999-2004,50,BGD,50004,BGD.3.10_1
4,WVS,1999-2004,50,BGD,50005,BGD.3.17_1
...,...,...,...,...,...,...
367,WVS,2010-2014,840,USA,840005,USA.4_1:USA.19_1:USA.37_1:USA.44_1
368,WVS,2010-2014,840,USA,840006,USA.14_1:USA.15_1:USA.23_1:USA.36_1:USA.50_1
369,WVS,2010-2014,840,USA,840007,USA.16_1:USA.17_1:USA.24_1:USA.26_1:USA.28_1:U...
370,WVS,2010-2014,840,USA,840008,USA.3_1:USA.6_1:USA.13_1:USA.27_1:USA.29_1:USA...
371,WVS,2010-2014,840,USA,840013,USA.2_1:USA.5_1:USA.12_1:USA.38_1:USA.48_1

In [10]:
len(VWS_to_list_gid["Region Numeric"].unique())

372

In [11]:
IVS_subset_VWS = pd.merge(IVS_region, VWS_to_list_gid, 
                on = ['Survey', 'Wave', 'Country Numeric', 'Country ISO3',
                                    'Region Numeric'],
                sort=False)

In [12]:
IVS_subset_VWS.head()

,Survey,Wave,Country Numeric,Country Name,Country ISO3,Region Numeric,Region Name,NUTS1,NUTS2,NUTS3,...,X053_2,X053_3,X053_4,X053_5,X053_6,X053_7,X053_8,X053_9,X053_10,gid
0,WVS,1999-2004,50,Bangladesh,BGD,50001,BD: Dhaka,,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BGD.3.1_1
1,WVS,1999-2004,50,Bangladesh,BGD,50002,BD: Chittagong,,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BGD.2.4_1
2,WVS,1999-2004,50,Bangladesh,BGD,50003,BD: Barisal,,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BGD.1.2_1
3,WVS,1999-2004,50,Bangladesh,BGD,50004,BD: Mymensingh,,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BGD.3.10_1
4,WVS,1999-2004,50,Bangladesh,BGD,50005,BD: Tangail,,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BGD.3.17_1

In [13]:
# lets check if we left something out
VWS_to_list_gid[~VWS_to_list_gid["Region Numeric"].isin(IVS_subset_VWS["Region Numeric"])]

Empty DataFrame
Columns: [Survey, Wave, Country Numeric, Country ISO3, Region Numeric, gid]
Index: []

## NUTS

In [14]:
NUTS_to_gid = pd.read_csv("gid/region_codes_to_GID_NUTS.csv", low_memory=False)
NUTS_to_gid.drop(["Region Name", "Region Numeric", "NUTS3"], inplace=True, axis=1)
#remove empty lines
NUTS_to_gid.dropna(how="all", inplace=True) 
NUTS_to_gid['Country Numeric'] = NUTS_to_gid['Country Numeric'].astype(np.int64)

NUTS_to_gid

,Survey,Wave,Country Numeric,Country ISO3,NUTS1,NUTS2,gid
0,EVS,2008-2010,372,IRL,IE0,-1,IRL
1,EVS,2008-2010,372,IRL,IE0,IE01,IRL.16_1
2,EVS,2008-2010,372,IRL,IE0,IE01,IRL.20_1
3,EVS,2008-2010,372,IRL,IE0,IE01,IRL.15_1
4,EVS,2008-2010,372,IRL,IE0,IE01,IRL.11_1
...,...,...,...,...,...,...,...
401,EVS,2008-2010,826,GBR,GB-GBNM,GB-GBNM6,GBR.3.17_1
402,EVS,2008-2010,826,GBR,GB-GBNM,GB-GBNM6,GBR.3.20_1
403,EVS,2008-2010,826,GBR,GB-GBNM,GB-GBNM6,GBR.3.21_1
404,EVS,2008-2010,826,GBR,GB-GBNM,GB-GBNM6,GBR.3.23_1
405,EVS,2008-2010,826,GBR,GB-GBNM,GB-GBNM6,GBR.3.27_1

In [15]:
len(NUTS_to_gid.NUTS2.unique())

103

In [16]:
NUTS_to_list_gid = NUTS_to_gid.groupby(list(NUTS_to_gid.columns[:-1])).agg({'gid':lambda x: ':'.join(list(x))}).reset_index()
NUTS_to_list_gid

,Survey,Wave,Country Numeric,Country ISO3,NUTS1,NUTS2,gid
0,EVS,2008-2010,56,BEL,BE1,BE10,BEL.1.1_1
1,EVS,2008-2010,56,BEL,BE2,BE21,BEL.2.1_1
2,EVS,2008-2010,56,BEL,BE2,BE22,BEL.2.2_1
3,EVS,2008-2010,56,BEL,BE2,BE23,BEL.2.3_1
4,EVS,2008-2010,56,BEL,BE2,BE24,BEL.2.4_1
...,...,...,...,...,...,...,...
98,EVS,2008-2010,826,GBR,GB-GBNL,GB-GBNL2,GBR.4.13_1:GBR.4.15_1:GBR.4.5_1:GBR.4.21_1:GBR...
99,EVS,2008-2010,826,GBR,GB-GBNM,GB-GBNM2,GBR.3.3_1:GBR.3.5_1:GBR.3.7_1:GBR.3.10_1:GBR.3...
100,EVS,2008-2010,826,GBR,GB-GBNM,GB-GBNM3,GBR.3.4_1:GBR.3.6_1:GBR.3.8_1:GBR.3.9_1:GBR.3....
101,EVS,2008-2010,826,GBR,GB-GBNM,GB-GBNM6,GBR.3.4_1:GBR.3.13_1:GBR.3.17_1:GBR.3.20_1:GBR...
102,EVS,2008-2010,909,GBR-NIR,GB-NIRN,GB-NIRN0,GBR.2_1

In [17]:
IVS_subset_NUTS = pd.merge(IVS_region, NUTS_to_list_gid, 
                on = ['Survey', 'Wave', 'Country Numeric', 'Country ISO3',
                      'NUTS1', 'NUTS2'],
                sort=False)

In [18]:
IVS_subset_NUTS

,Survey,Wave,Country Numeric,Country Name,Country ISO3,Region Numeric,Region Name,NUTS1,NUTS2,NUTS3,...,X053_2,X053_3,X053_4,X053_5,X053_6,X053_7,X053_8,X053_9,X053_10,gid
0,EVS,2008-2010,56,Belgium,BEL,-5,Unknown,BE1,BE10,-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BEL.1.1_1
1,EVS,2008-2010,56,Belgium,BEL,-5,Unknown,BE2,BE21,-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BEL.2.1_1
2,EVS,2008-2010,56,Belgium,BEL,-5,Unknown,BE2,BE22,-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BEL.2.2_1
3,EVS,2008-2010,56,Belgium,BEL,-5,Unknown,BE2,BE23,-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BEL.2.3_1
4,EVS,2008-2010,56,Belgium,BEL,-5,Unknown,BE2,BE24,-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BEL.2.4_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,EVS,2008-2010,826,United Kingdom of Great Britain and Northern I...,GBR,-5,Unknown,GB-GBNL,GB-GBNL2,-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GBR.4.13_1:GBR.4.15_1:GBR.4.5_1:GBR.4.21_1:GBR...
99,EVS,2008-2010,826,United Kingdom of Great Britain and Northern I...,GBR,-5,Unknown,GB-GBNM,GB-GBNM2,-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GBR.3.3_1:GBR.3.5_1:GBR.3.7_1:GBR.3.10_1:GBR.3...
100,EVS,2008-2010,826,United Kingdom of Great Britain and Northern I...,GBR,-5,Unknown,GB-GBNM,GB-GBNM3,-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GBR.3.4_1:GBR.3.6_1:GBR.3.8_1:GBR.3.9_1:GBR.3....
101,EVS,2008-2010,826,United Kingdom of Great Britain and Northern I...,GBR,-5,Unknown,GB-GBNM,GB-GBNM6,-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GBR.3.4_1:GBR.3.13_1:GBR.3.17_1:GBR.3.20_1:GBR...
102,EVS,2008-2010,909,North Ireland,GBR-NIR,-5,Unknown,GB-NIRN,GB-NIRN0,-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GBR.2_1

## Concatenate the two dataframes

In [19]:
IVS_region = pd.concat([IVS_subset_VWS, IVS_subset_NUTS], ignore_index=True)
IVS_region

,Survey,Wave,Country Numeric,Country Name,Country ISO3,Region Numeric,Region Name,NUTS1,NUTS2,NUTS3,...,X053_2,X053_3,X053_4,X053_5,X053_6,X053_7,X053_8,X053_9,X053_10,gid
0,WVS,1999-2004,50,Bangladesh,BGD,50001,BD: Dhaka,,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BGD.3.1_1
1,WVS,1999-2004,50,Bangladesh,BGD,50002,BD: Chittagong,,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BGD.2.4_1
2,WVS,1999-2004,50,Bangladesh,BGD,50003,BD: Barisal,,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BGD.1.2_1
3,WVS,1999-2004,50,Bangladesh,BGD,50004,BD: Mymensingh,,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BGD.3.10_1
4,WVS,1999-2004,50,Bangladesh,BGD,50005,BD: Tangail,,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BGD.3.17_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,EVS,2008-2010,826,United Kingdom of Great Britain and Northern I...,GBR,-5,Unknown,GB-GBNL,GB-GBNL2,-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GBR.4.13_1:GBR.4.15_1:GBR.4.5_1:GBR.4.21_1:GBR...
471,EVS,2008-2010,826,United Kingdom of Great Britain and Northern I...,GBR,-5,Unknown,GB-GBNM,GB-GBNM2,-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GBR.3.3_1:GBR.3.5_1:GBR.3.7_1:GBR.3.10_1:GBR.3...
472,EVS,2008-2010,826,United Kingdom of Great Britain and Northern I...,GBR,-5,Unknown,GB-GBNM,GB-GBNM3,-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GBR.3.4_1:GBR.3.6_1:GBR.3.8_1:GBR.3.9_1:GBR.3....
473,EVS,2008-2010,826,United Kingdom of Great Britain and Northern I...,GBR,-5,Unknown,GB-GBNM,GB-GBNM6,-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GBR.3.4_1:GBR.3.13_1:GBR.3.17_1:GBR.3.20_1:GBR...
474,EVS,2008-2010,909,North Ireland,GBR-NIR,-5,Unknown,GB-NIRN,GB-NIRN0,-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GBR.2_1

# Create dictionary with the anwers descriptions

In [22]:
IVS_variables = pd.read_csv("input/IVS_Variable_List.csv")

In [23]:
IVS_variables

,Included,Name,Label,Last EVS,Last WVS,Categories
0,1,A001,Important in life: Family,EVS 2008,WVS6 (2010-2012),1:Very important\n2:Rather important\n3:Not ve...
1,1,A002,Important in life: Friends,EVS 2008,WVS6 (2010-2012),1:Very important\n2:Rather important\n3:Not ve...
2,0,A003,Important in life: Leisure time,EVS 2008,WVS6 (2010-2012),-5:Missing; Unknown\n-4:Not asked in survey\n-...
3,0,A004,Important in life: Politics,EVS 2008,WVS6 (2010-2012),1:Very important\n2:Rather important\n3:Not ve...
4,1,A005,Important in life: Work,EVS 2008,WVS6 (2010-2012),1:Very important\n2:Rather important\n3:Not ve...
...,...,...,...,...,...,...
1422,0,w007,Spouse/partner had/has how many employees,EVS 2008,NaN,1:None\n2:1-9\n3:10-24\n4:25 or more\n-5:Missi...
1423,0,w008,Does spouse/partner supervise someone,EVS 2008,NaN,0:No\n1:Yes\n-5:Missing; Unknown\n-4:Not asked...
1424,0,w009,How many people does she/he supervise,EVS 2008,NaN,1:1-9\n2:10-24\n3:25 or more\n-5:Missing; Unkn...
1425,0,w010,Spouse/partner experienced unemployment longer...,EVS 2008,NaN,0:No\n1:Yes\n-5:Missing; Unknown\n-4:Not asked...
1426,0,w011,Dependency on social security during last 5 ye...,EVS 2008,NaN,0:No\n1:Yes\n-5:Missing; Unknown\n-4:Not asked...

In [24]:
IVS_variables = IVS_variables.loc[IVS_variables.Included == 1].copy()
IVS_variables.drop(["Included", "Last EVS", "Last WVS"], axis=1, inplace=True)

In [25]:
cat_dict_column = []

for idx, row in IVS_variables.iterrows():
    codes = {}
    for line in row.Categories.split("\n")[:-1]: # there is always a \n at the end
        try:
            key = line.split(":")[0]
            value = line.split(":")[1]
            codes[key] = value
        except:
            continue
    cat_dict_column.append(codes)

In [26]:
IVS_variables["Categories"] = cat_dict_column

In [27]:
IVS_variables.set_index("Name", inplace=True)

In [28]:
variables_dict = IVS_variables.to_dict(orient="index")

## We need to pop some keys
ZMEN_010 is not present in the dataset

the following ones are the values we aggregated on

S002
S002EVS
S001
S017

X048WVS
X048
x048a_n1
x048b_n2
x048c_n3

In [29]:
len(variables_dict.keys())

87

In [30]:
to_drop = ["ZMEN_010", "S002", "S002EVS", "S001", "S017",
          "X048WVS", "X048", "x048a_n1", "x048b_n2", "x048c_n3"]


for key in to_drop:
    variables_dict.pop(key)

len(variables_dict.keys())

77

# Dump the answers in a json

In [31]:
IVS_region['json'] = IVS_region.apply(lambda x: x.to_dict(), axis=1)

In [32]:
# now we have a flat dict, we will need to organize it
IVS_region.json[0]

{'Survey': 'WVS',
 'Wave': '1999-2004',
 'Country Numeric': 50,
 'Country Name': 'Bangladesh',
 'Country ISO3': 'BGD',
 'Region Numeric': 50001,
 'Region Name': 'BD: Dhaka',
 'NUTS1': ' ',
 'NUTS2': ' ',
 'NUTS3': ' ',
 'Sample Size': 199,
 'A001_-5': 0.0,
 'A001_-4': 0.0,
 'A001_-2': 0.0,
 'A001_-1': 0.0,
 'A001_1': 0.9547738693467336,
 'A001_2': 0.04522613065326633,
 'A001_3': 0.0,
 'A001_4': 0.0,
 'A002_-5': 0.0,
 'A002_-4': 0.0,
 'A002_-2': 0.0,
 'A002_-1': 0.005025125628140704,
 'A002_1': 0.3165829145728643,
 'A002_2': 0.5376884422110553,
 'A002_3': 0.12562814070351758,
 'A002_4': 0.01507537688442211,
 'A005_-5': 0.0,
 'A005_-4': 0.0,
 'A005_-3': 0.0,
 'A005_-2': 0.0,
 'A005_-1': 0.01507537688442211,
 'A005_1': 0.8542713567839196,
 'A005_2': 0.12060301507537688,
 'A005_3': 0.010050251256281407,
 'A005_4': 0.0,
 'A009_-5': 0.0,
 'A009_-4': 0.0,
 'A009_-2': 0.0,
 'A009_-1': 0.005025125628140704,
 'A009_1': 0.20603015075376885,
 'A009_2': 0.4974874371859296,
 'A009_3': 0.2462311557788945,
 'A009_4': 0.04522613065326633,
 'A009_5': 0.0,
 'A029_-5': 0.0,
 'A029_-4': 0.0,
 'A029_-2': 0.0,
 'A029_-1': 0.0,
 'A029_0': 0.09547738693467336,
 'A029_1': 0.9045226130653268,
 'A032_-5': 0.0,
 'A032_-4': 0.0,
 'A032_-2': 0.0,
 'A032_-1': 0.0,
 'A032_0': 0.36683417085427134,
 'A032_1': 0.6331658291457286,
 'A042_-5': 0.0,
 'A042_-4': 0.0,
 'A042_-2': 0.0,
 'A042_-1': 0.0,
 'A042_0': 0.9045226130653268,
 'A042_1': 0.09547738693467336,
 'A065_-5': 0.0,
 'A065_-4': 0.0,
 'A065_-2': 0.0,
 'A065_-1': 0.0,
 'A065_0': 0.6884422110552764,
 'A065_1': 0.31155778894472363,
 'A074_-5': 0.0,
 'A074_-4': 0.0,
 'A074_-2': 0.0,
 'A074_-1': 0.0,
 'A074_0': 0.7587939698492462,
 'A074_1': 0.24120603015075376,
 'A098_-5': 0.0,
 'A098_-4': 1.0,
 'A098_-2': 0.0,
 'A098_-1': 0.0,
 'A098_0': 0.0,
 'A098_1': 0.0,
 'A098_2': 0.0,
 'A099_-5': 0.0,
 'A099_-4': 1.0,
 'A099_-2': 0.0,
 'A099_-1': 0.0,
 'A099_0': 0.0,
 'A099_1': 0.0,
 'A099_2': 0.0,
 'A165_-5': 0.0,
 'A165_-4': 0.0,
 'A165_-2': 0.0,
 'A165_-1': 0.010050251256281407,
 'A165_1': 0.1306532663316583,
 'A165_2': 0.8592964824120602,
 'A170_-5': 0.0,
 'A170_-4': 0.0,
 'A170_-2': 0.0,
 'A170_-1': 0.010050251256281407,
 'A170_1': 0.04020100502512563,
 'A170_2': 0.005025125628140704,
 'A170_3': 0.01507537688442211,
 'A170_4': 0.08542713567839195,
 'A170_5': 0.3065326633165829,
 'A170_6': 0.1306532663316583,
 'A170_7': 0.09045226130653268,
 'A170_8': 0.08040201005025126,
 'A170_9': 0.04020100502512563,
 'A170_10': 0.19597989949748745,
 'A173_-5': 0.0,
 'A173_-4': 0.0,
 'A173_-2': 0.0,
 'A173_-1': 0.07035175879396985,
 'A173_1': 0.11055276381909547,
 'A173_2': 0.010050251256281407,
 'A173_3': 0.055276381909547735,
 'A173_4': 0.06030150753768844,
 'A173_5': 0.2562814070351759,
 'A173_6': 0.09547738693467336,
 'A173_7': 0.12060301507537688,
 'A173_8': 0.09547738693467336,
 'A173_9': 0.02512562814070352,
 'A173_10': 0.10050251256281408,
 'A191_-5': 0.0,
 'A191_-4': 1.0,
 'A191_-2': 0.0,
 'A191_-1': 0.0,
 'A191_1': 0.0,
 'A191_2': 0.0,
 'A191_3': 0.0,
 'A191_4': 0.0,
 'A191_5': 0.0,
 'A191_6': 0.0,
 'A192_-5': 0.0,
 'A192_-4': 1.0,
 'A192_-2': 0.0,
 'A192_-1': 0.0,
 'A192_1': 0.0,
 'A192_2': 0.0,
 'A192_3': 0.0,
 'A192_4': 0.0,
 'A192_5': 0.0,
 'A192_6': 0.0,
 'A196_-5': 0.0,
 'A196_-4': 1.0,
 'A196_-2': 0.0,
 'A196_-1': 0.0,
 'A196_1': 0.0,
 'A196_2': 0.0,
 'A196_3': 0.0,
 'A196_4': 0.0,
 'A196_5': 0.0,
 'A196_6': 0.0,
 'A199_-5': 0.0,
 'A199_-4': 1.0,
 'A199_-2': 0.0,
 'A199_-1': 0.0,
 'A199_1': 0.0,
 'A199_2': 0.0,
 'A199_3': 0.0,
 'A199_4': 0.0,
 'A199_5': 0.0,
 'A199_6': 0.0,
 'A200_-5': 0.0,
 'A200_-4': 1.0,
 'A200_-2': 0.0,
 'A200_-1': 0.0,
 'A200_1': 0.0,
 'A200_2': 0.0,
 'A200_3': 0.0,
 'A200_4': 0.0,
 'A200_5': 0.0,
 'A200_6': 0.0,
 'A200_7': 0.0,
 'A200_8': 0.0,
 'A200_9': 0.0,
 'A200_10': 0.0,
 'A201_-5': 0.0,
 'A201_-4': 1.0,
 'A201_-2': 0.0,
 'A201_-1': 0.0,
 'A201_1': 0.0,
 'A201_2': 0.0,
 'A201_3': 0.0,
 'A201_4': 0.0,
 'A201_5': 0.0,
 'A201_6': 0.0,
 'A201_7': 0.0,
 'A201_8': 0.0,
 'A201_9': 0.0,
 'A201_10': 0.0,
 'A202_-5': 0.0,
 'A202_-4': 1.0,
 'A202_-2': 0.0,
 'A202_-1': 0.0,
 'A202_1': 0.0,
 'A202_2': 0.0,
 'A202_3': 0.0,
 'A202_4': 0.0,
 'A202_5': 0.0,
 'A202_6': 0.0,
 'A202_7': 0.0,
 'A202_8': 0.0,
 'A202_9': 0.0,
 'A202_10': 0.0,
 'A206_-5': 0.0,
 'A206_-4': 1.0,
 'A206_-2': 0.0,
 'A206_-1': 0.0,
 'A206_0': 0.0,
 'A206_1': 0.0,
 'A206_2': 0.0,
 'A206_3': 0.0,
 'A206_4': 0.0,
 'A210_-5': 0.0,
 'A210_-4': 1.0,
 'A210_-2': 0.0,
 'A210_-1': 0.0,
 'A210_1': 0.0,
 'A210_2': 0.0,
 'A210_3': 0.0,
 'A210_4': 0.0,
 'C006_-5': 0.0,
 'C006_-4': 0.0,
 'C006_-2': 0.005025125628140704,
 'C006_-1': 0.010050251256281407,
 'C006_1': 0.055276381909547735,
 'C006_2': 0.010050251256281407,
 'C006_3': 0.01507537688442211,
 'C006_4': 0.10050251256281408,
 'C006_5': 0.31155778894472363,
 'C006_6': 0.10050251256281408,
 'C006_7': 0.09045226130653268,
 'C006_8': 0.07537688442211055,
 'C006_9': 0.04020100502512563,
 'C006_10': 0.18592964824120606,
 'C037_-5': 0.0,
 'C037_-4': 0.0,
 'C037_-2': 0.0,
 'C037_-1': 0.005025125628140704,
 'C037_1': 0.4221105527638191,
 'C037_2': 0.5226130653266332,
 'C037_3': 0.0,
 'C037_4': 0.035175879396984924,
 'C037_5': 0.01507537688442211,
 'C038_-5': 0.0,
 'C038_-4': 0.0,
 'C038_-2': 0.0,
 'C038_-1': 0.02010050251256281,
 'C038_1': 0.2814070351758794,
 'C038_2': 0.5025125628140703,
 'C038_3': 0.0,
 'C038_4': 0.1507537688442211,
 'C038_5': 0.04522613065326633,
 'E005_-5': 0.0,
 'E005_-4': 0.0,
 'E005_-2': 0.0,
 'E005_-1': 0.0,
 'E005_1': 0.7638190954773869,
 'E005_2': 0.09547738693467336,
 'E005_3': 0.04020100502512563,
 'E005_4': 0.10050251256281408,
 'E006_-5': 0.0,
 'E006_-4': 0.0,
 'E006_-3': 0.0,
 'E006_-2': 0.0,
 'E006_-1': 0.02512562814070352,
 'E006_1': 0.15577889447236182,
 'E006_2': 0.135678391959799,
 'E006_3': 0.21608040201005024,
 'E006_4': 0.4673366834170855,
 'E018_-5': 0.0,
 'E018_-4': 0.0,
 'E018_-2': 0.0,
 'E018_-1': 0.0,
 'E018_1': 0.8894472361809045,
 'E018_2': 0.08542713567839195,
 'E018_3': 0.02512562814070352,
 'E027_-5': 0.0,
 'E027_-4': 0.0,
 'E027_-2': 0.0,
 'E027_-1': 0.1658291457286432,
 'E027_1': 0.035175879396984924,
 'E027_2': 0.2964824120603015,
 'E027_3': 0.5025125628140703,
 'E037_-5': 0.0,
 'E037_-4': 0.0,
 'E037_-2': 0.0,
 'E037_-1': 0.035175879396984924,
 'E037_1': 0.25125628140703515,
 'E037_2': 0.02512562814070352,
 'E037_3': 0.10552763819095476,
 'E037_4': 0.055276381909547735,
 'E037_5': 0.06030150753768844,
 'E037_6': 0.1507537688442211,
 'E037_7': 0.010050251256281407,
 'E037_8': 0.035175879396984924,
 'E037_9': 0.01507537688442211,
 'E037_10': 0.2562814070351759,
 'E069_04_-5': 0.0,
 'E069_04_-4': 0.0,
 'E069_04_-2': 0.0,
 'E069_04_-1': 0.02010050251256281,
 'E069_04_1': 0.3165829145728643,
 'E069_04_2': 0.5829145728643216,
 'E069_04_3': 0.07035175879396985,
 'E069_04_4': 0.010050251256281407,
 'E069_06_-5': 0.0,
 'E069_06_-4': 0.0,
 'E069_06_-2': 0.0,
 'E069_06_-1': 0.02010050251256281,
 'E069_06_1': 0.19095477386934676,
 'E069_06_2': 0.3417085427135678,
 'E069_06_3': 0.3165829145728643,
 'E069_06_4': 0.1306532663316583,
 'E069_08_-5': 0.0,
 'E069_08_-4': 0.0,
 'E069_08_-2': 0.0,
 'E069_08_-1': 0.02010050251256281,
 'E069_08_1': 0.4120603015075377,
 'E069_08_2': 0.4673366834170855,
 'E069_08_3': 0.07537688442211055,
 'E069_08_4': 0.02512562814070352,
 'E069_10_-5': 0.0,
 'E069_10_-4': 0.0,
 'E069_10_-2': 0.0,
 'E069_10_-1': 0.02010050251256281,
 'E069_10_1': 0.2763819095477387,
 'E069_10_2': 0.5025125628140703,
 'E069_10_3': 0.17587939698492466,
 'E069_10_4': 0.02512562814070352,
 'E069_11_-5': 0.0,
 'E069_11_-4': 0.0,
 'E069_11_-2': 0.0,
 'E069_11_-1': 0.02010050251256281,
 'E069_11_1': 0.3316582914572864,
 'E069_11_2': 0.4824120603015075,
 'E069_11_3': 0.1507537688442211,
 'E069_11_4': 0.01507537688442211,
 'E069_20_-5': 0.0,
 'E069_20_-4': 0.0,
 'E069_20_-2': 0.0,
 'E069_20_-1': 0.07035175879396985,
 'E069_20_1': 0.5326633165829145,
 'E069_20_2': 0.3467336683417085,
 'E069_20_3': 0.02512562814070352,
 'E069_20_4': 0.02512562814070352,
 'E069_54_-5': 0.0,
 'E069_54_-4': 1.0,
 'E069_54_-2': 0.0,
 'E069_54_-1': 0.0,
 'E069_54_1': 0.0,
 'E069_54_2': 0.0,
 'E069_54_3': 0.0,
 'E069_54_4': 0.0,
 'E115_-5': 0.0,
 'E115_-4': 0.0,
 'E115_-2': 0.0,
 'E115_-1': 0.04522613065326633,
 'E115_1': 0.10050251256281408,
 'E115_2': 0.45728643216080395,
 'E115_3': 0.18090452261306533,
 'E115_4': 0.21608040201005024,
 'E117_-5': 0.0,
 'E117_-4': 0.0,
 'E117_-2': 0.0,
 'E117_-1': 0.03015075376884422,
 'E117_1': 0.4371859296482412,
 'E117_2': 0.5125628140703518,
 'E117_3': 0.02010050251256281,
 'E117_4': 0.0,
 'E154_-5': 0.0,
 'E154_-4': 1.0,
 'E154_-2': 0.0,
 'E154_-1': 0.0,
 'E154_1': 0.0,
 'E154_2': 0.0,
 'E154_3': 0.0,
 'E154_4': 0.0,
 'E154_5': 0.0,
 'E155_-5': 0.0,
 'E155_-4': 1.0,
 'E155_-2': 0.0,
 'E155_-1': 0.0,
 'E155_1': 0.0,
 'E155_2': 0.0,
 'E155_3': 0.0,
 'E155_4': 0.0,
 'E155_5': 0.0,
 'E156_-5': 0.0,
 'E156_-4': 1.0,
 'E156_-2': 0.0,
 'E156_-1': 0.0,
 'E156_1': 0.0,
 'E156_2': 0.0,
 'E156_3': 0.0,
 'E156_4': 0.0,
 'E156_5': 0.0,
 'E158_-5': 0.0,
 'E158_-4': 1.0,
 'E158_-2': 0.0,
 'E158_-1': 0.0,
 'E158_1': 0.0,
 'E158_2': 0.0,
 'E158_3': 0.0,
 'E158_4': 0.0,
 'E158_5': 0.0,
 'E159_-5': 0.0,
 'E159_-4': 1.0,
 'E159_-2': 0.0,
 'E159_-1': 0.0,
 'E159_1': 0.0,
 'E159_2': 0.0,
 'E159_3': 0.0,
 'E159_4': 0.0,
 'E159_5': 0.0,
 'E162_-5': 0.0,
 'E162_-4': 1.0,
 'E162_-2': 0.0,
 'E162_-1': 0.0,
 'E162_1': 0.0,
 'E162_2': 0.0,
 'E162_3': 0.0,
 'E162_4': 0.0,
 'E162_5': 0.0,
 'E217_-5': 0.0,
 'E217_-4': 1.0,
 'E217_-3': 0.0,
 'E217_-2': 0.0,
 'E217_-1': 0.0,
 'E217_1': 0.0,
 'E217_2': 0.0,
 'E217_3': 0.0,
 'E217_4': 0.0,
 'E217_5': 0.0,
 'E217_6': 0.0,
 'E217_7': 0.0,
 'E217_8': 0.0,
 'E217_9': 0.0,
 'E217_10': 0.0,
 'E221B_-5': 0.0,
 'E221B_-4': 1.0,
 'E221B_-3': 0.0,
 'E221B_-2': 0.0,
 'E221B_-1': 0.0,
 'E221B_1': 0.0,
 'E221B_2': 0.0,
 'E235_-5': 0.0,
 'E235_-4': 1.0,
 'E235_-2': 0.0,
 'E235_-1': 0.0,
 'E235_1': 0.0,
 'E235_2': 0.0,
 'E235_3': 0.0,
 'E235_4': 0.0,
 'E235_5': 0.0,
 'E235_6': 0.0,
 'E235_7': 0.0,
 'E235_8': 0.0,
 'E235_9': 0.0,
 'E235_10': 0.0,
 'E248B_-5': 0.0,
 'E248B_-4': 1.0,
 'E248B_-2': 0.0,
 'E248B_-1': 0.0,
 'E248B_1': 0.0,
 'E248B_2': 0.0,
 'E248B_3': 0.0,
 'E248B_4': 0.0,
 'E248B_5': 0.0,
 'E258B_-5': 0.0,
 'E258B_-4': 1.0,
 'E258B_-2': 0.0,
 'E258B_-1': 0.0,
 'E258B_1': 0.0,
 'E258B_2': 0.0,
 'E258B_3': 0.0,
 'E258B_4': 0.0,
 'E258B_5': 0.0,
 'E259B_-5': 0.0,
 'E259B_-4': 1.0,
 'E259B_-2': 0.0,
 'E259B_-1': 0.0,
 'E259B_1': 0.0,
 'E259B_2': 0.0,
 'E259B_3': 0.0,
 'E259B_4': 0.0,
 'E259B_5': 0.0,
 'E262B_-5': 0.0,
 'E262B_-4': 1.0,
 'E262B_-2': 0.0,
 'E262B_-1': 0.0,
 'E262B_1': 0.0,
 'E262B_2': 0.0,
 'E262B_3': 0.0,
 'E262B_4': 0.0,
 'E262B_5': 0.0,
 'F025_-5': 0.0,
 'F025_-4': 0.0,
 'F025_-3': 0.0,
 'F025_-2': 0.0,
 'F025_-1': 0.0,
 'F025_0': 0.0,
 'F025_1': 0.0,
 'F025_2': 0.0,
 'F025_3': 0.0,
 'F025_4': 0.0,
 'F025_5': 0.0,
 'F025_6': 0.0,
 'F025_7': 0.0,
 'F025_8': 0.0,
 'F025_9': 0.0,
 'F025_10': 0.0,
 'F025_11': 0.0,
 'F025_12': 0.010050251256281407,
 'F025_13': 0.0,
 'F025_14': 0.0,
 'F025_15': 0.0,
 'F025_16': 0.0,
 'F025_17': 0.0,
 'F025_18': 0.0,
 'F025_19': 0.0,
 'F025_20': 0.0,
 'F025_21': 0.0,
 'F025_22': 0.0,
 'F025_23': 0.0,
 'F025_24': 0.0,
 'F025_25': 0.0,
 'F025_26': 0.0,
 'F025_27': 0.0,
 'F025_28': 0.0,
 'F025_29': 0.0,
 'F025_30': 0.0,
 'F025_31': 0.06030150753768844,
 'F025_32': 0.0,
 'F025_33': 0.0,
 'F025_34': 0.0,
 'F025_35': 0.0,
 'F025_36': 0.0,
 'F025_37': 0.0,
 'F025_38': 0.0,
 'F025_39': 0.0,
 'F025_40': 0.0,
 'F025_41': 0.0,
 'F025_42': 0.0,
 'F025_43': 0.0,
 'F025_44': 0.0,
 'F025_45': 0.0,
 'F025_46': 0.0,
 'F025_47': 0.0,
 'F025_48': 0.0,
 'F025_49': 0.9195979899497488,
 'F025_50': 0.0,
 'F025_51': 0.0,
 'F025_52': 0.0,
 'F025_53': 0.0,
 'F025_54': 0.0,
 'F025_55': 0.0,
 'F025_56': 0.0,
 'F025_57': 0.0,
 'F025_58': 0.0,
 'F025_59': 0.0,
 'F025_60': 0.0,
 'F025_61': 0.0,
 'F025_62': 0.0,
 'F025_63': 0.0,
 'F025_64': 0.010050251256281407,
 'F025_66': 0.0,
 'F025_67': 0.0,
 'F025_68': 0.0,
 'F025_69': 0.0,
 'F025_70': 0.0,
 'F025_71': 0.0,
 'F025_72': 0.0,
 'F025_73': 0.0,
 'F025_74': 0.0,
 'F025_75': 0.0,
 'F025_76': 0.0,
 'F025_77': 0.0,
 'F025_78': 0.0,
 'F025_79': 0.0,
 'F025_80': 0.0,
 'F025_81': 0.0,
 'F025_82': 0.0,
 'F025_83': 0.0,
 'F025_84': 0.0,
 'F025_85': 0.0,
 'F025_86': 0.0,
 'F025_87': 0.0,
 'F025_89': 0.0,
 'F025_90': 0.0,
 'F025_91': 0.0,
 'F025_12001': 0.0,
 'F025_360001': 0.0,
 'F025_528001': 0.0,
 'F025_528002': 0.0,
 'F025_710001': 0.0,
 'F025_710002': 0.0,
 'G006_-5': 0.0,
 'G006_-4': 0.0,
 'G006_-3': 0.0,
 'G006_-2': 0.0,
 'G006_-1': 0.0,
 'G006_1': 0.6733668341708543,
 'G006_2': 0.2562814070351759,
 'G006_3': 0.06532663316582915,
 'G006_4': 0.005025125628140704,
 'G019_-5': 0.0,
 'G019_-4': 1.0,
 'G019_-2': 0.0,
 'G019_-1': 0.0,
 'G019_1': 0.0,
 'G019_2': 0.0,
 'G019_3': 0.0,
 'G019_4': 0.0,
 'G020_-5': 0.0,
 'G020_-4': 1.0,
 'G020_-2': 0.0,
 'G020_-1': 0.0,
 'G020_1': 0.0,
 'G020_2': 0.0,
 'G020_3': 0.0,
 'G020_4': 0.0,
 'G021_-5': 0.0,
 'G021_-4': 1.0,
 'G021_-2': 0.0,
 'G021_-1': 0.0,
 'G021_1': 0.0,
 'G021_2': 0.0,
 'G021_3': 0.0,
 'G021_4': 0.0,
 'H008_01_-5': 0.0,
 'H008_01_-4': 1.0,
 'H008_01_-2': 0.0,
 'H008_01_-1': 0.0,
 'H008_01_1': 0.0,
 'H008_01_2': 0.0,
 'H008_01_3': 0.0,
 'H008_01_4': 0.0,
 'H008_03_-5': 0.0,
 'H008_03_-4': 1.0,
 'H008_03_-2': 0.0,
 'H008_03_-1': 0.0,
 'H008_03_1': 0.0,
 'H008_03_2': 0.0,
 'H008_03_3': 0.0,
 'H008_03_4': 0.0,
 'I002_-5': 0.0,
 'I002_-4': 1.0,
 'I002_-2': 0.0,
 'I002_-1': 0.0,
 'I002_1': 0.0,
 'I002_2': 0.0,
 'I002_3': 0.0,
 'I002_4': 0.0,
 'I002_5': 0.0,
 'I002_6': 0.0,
 'I002_7': 0.0,
 'I002_8': 0.0,
 'I002_9': 0.0,
 'I002_10': 0.0,
 'X001_-5': 0.0,
 'X001_-4': 0.0,
 'X001_-2': 0.0,
 'X001_-1': 0.0,
 'X001_1': 0.5728643216080402,
 'X001_2': 0.4271356783919598,
 'X002_-5': 0.0,
 'X002_-4': 0.0,
 'X002_-3': 0.0,
 'X002_-2': 0.0,
 'X002_-1': 0.0,
 'X002_1881': 0.0,
 'X002_1886': 0.0,
 'X002_1888': 0.0,
 'X002_1889': 0.0,
 'X002_1890': 0.0,
 'X002_1891': 0.0,
 'X002_1892': 0.0,
 'X002_1893': 0.0,
 'X002_1894': 0.0,
 'X002_1895': 0.0,
 'X002_1896': 0.0,
 'X002_1897': 0.0,
 'X002_1898': 0.0,
 'X002_1899': 0.0,
 'X002_1900': 0.0,
 'X002_1901': 0.0,
 'X002_1902': 0.0,
 'X002_1903': 0.0,
 'X002_1904': 0.0,
 'X002_1905': 0.0,
 'X002_1906': 0.0,
 'X002_1907': 0.0,
 'X002_1908': 0.0,
 'X002_1909': 0.0,
 'X002_1910': 0.0,
 'X002_1911': 0.0,
 'X002_1912': 0.0,
 'X002_1913': 0.0,
 'X002_1914': 0.0,
 'X002_1915': 0.0,
 'X002_1916': 0.0,
 'X002_1917': 0.0,
 'X002_1918': 0.0,
 'X002_1919': 0.0,
 'X002_1920': 0.0,
 'X002_1921': 0.0,
 'X002_1922': 0.0,
 'X002_1923': 0.0,
 'X002_1924': 0.0,
 'X002_1925': 0.0,
 'X002_1926': 0.0,
 'X002_1927': 0.005025125628140704,
 'X002_1928': 0.0,
 'X002_1929': 0.0,
 'X002_1930': 0.005025125628140704,
 'X002_1931': 0.0,
 'X002_1932': 0.0,
 'X002_1933': 0.0,
 'X002_1934': 0.0,
 'X002_1935': 0.0,
 'X002_1936': 0.0,
 'X002_1937': 0.0,
 'X002_1938': 0.0,
 'X002_1939': 0.0,
 'X002_1940': 0.010050251256281407,
 'X002_1941': 0.010050251256281407,
 'X002_1942': 0.010050251256281407,
 'X002_1943': 0.0,
 'X002_1944': 0.0,
 'X002_1945': 0.0,
 'X002_1946': 0.0,
 'X002_1947': 0.010050251256281407,
 'X002_1948': 0.005025125628140704,
 'X002_1949': 0.005025125628140704,
 'X002_1950': 0.01507537688442211,
 'X002_1951': 0.0,
 'X002_1952': 0.02512562814070352,
 'X002_1953': 0.010050251256281407,
 'X002_1954': 0.005025125628140704,
 'X002_1955': 0.035175879396984924,
 'X002_1956': 0.0,
 'X002_1957': 0.010050251256281407,
 'X002_1958': 0.02010050251256281,
 'X002_1959': 0.010050251256281407,
 'X002_1960': 0.055276381909547735,
 'X002_1961': 0.01507537688442211,
 'X002_1962': 0.02512562814070352,
 'X002_1963': 0.010050251256281407,
 'X002_1964': 0.06532663316582915,
 'X002_1965': 0.09045226130653268,
 'X002_1966': 0.010050251256281407,
 'X002_1967': 0.005025125628140704,
 'X002_1968': 0.04522613065326633,
 'X002_1969': 0.02010050251256281,
 'X002_1970': 0.12060301507537688,
 'X002_1971': 0.02010050251256281,
 'X002_1972': 0.07035175879396985,
 'X002_1973': 0.035175879396984924,
 'X002_1974': 0.03015075376884422,
 'X002_1975': 0.05025125628140704,
 'X002_1976': 0.03015075376884422,
 'X002_1977': 0.02010050251256281,
 'X002_1978': 0.05025125628140704,
 'X002_1979': 0.005025125628140704,
 'X002_1980': 0.02512562814070352,
 'X002_1981': 0.010050251256281407,
 'X002_1982': 0.0,
 'X002_1983': 0.0,
 'X002_1984': 0.0,
 'X002_1985': 0.0,
 'X002_1986': 0.0,
 'X002_1987': 0.0,
 'X002_1988': 0.0,
 'X002_1989': 0.0,
 'X002_1990': 0.0,
 'X002_1991': 0.0,
 'X002_1992': 0.0,
 'X002_1993': 0.0,
 'X002_1994': 0.0,
 'X002_1995': 0.0,
 'X002_1996': 0.0,
 'X002_1997': 0.0,
 'X002_1999': 0.0,
 'X003_-5': 0.0,
 'X003_-4': 0.0,
 'X003_-3': 0.0,
 'X003_-2': 0.0,
 'X003_-1': 0.0,
 'X003_13': 0.0,
 'X003_14': 0.0,
 'X003_15': 0.0,
 'X003_16': 0.0,
 'X003_17': 0.0,
 'X003_18': 0.005025125628140704,
 'X003_19': 0.010050251256281407,
 'X003_20': 0.02010050251256281,
 'X003_21': 0.005025125628140704,
 'X003_22': 0.05025125628140704,
 'X003_23': 0.01507537688442211,
 'X003_24': 0.03015075376884422,
 'X003_25': 0.06030150753768844,
 'X003_26': 0.02512562814070352,
 'X003_27': 0.03015075376884422,
 'X003_28': 0.07035175879396985,
 'X003_29': 0.02010050251256281,
 'X003_30': 0.11557788944723618,
 'X003_31': 0.02512562814070352,
 'X003_32': 0.04522613065326633,
 'X003_33': 0.005025125628140704,
 'X003_34': 0.01507537688442211,
 'X003_35': 0.09045226130653268,
 'X003_36': 0.055276381909547735,
 'X003_37': 0.01507537688442211,
 'X003_38': 0.02512562814070352,
 'X003_39': 0.01507537688442211,
 'X003_40': 0.055276381909547735,
 'X003_41': 0.010050251256281407,
 'X003_42': 0.02512562814070352,
 'X003_43': 0.010050251256281407,
 'X003_44': 0.0,
 'X003_45': 0.035175879396984924,
 'X003_46': 0.005025125628140704,
 'X003_47': 0.010050251256281407,
 'X003_48': 0.02512562814070352,
 'X003_49': 0.0,
 'X003_50': 0.01507537688442211,
 'X003_51': 0.005025125628140704,
 'X003_52': 0.005025125628140704,
 'X003_53': 0.010050251256281407,
 'X003_54': 0.0,
 'X003_55': 0.0,
 'X003_56': 0.0,
 'X003_57': 0.0,
 'X003_58': 0.010050251256281407,
 'X003_59': 0.010050251256281407,
 'X003_60': 0.010050251256281407,
 'X003_61': 0.0,
 'X003_62': 0.0,
 'X003_63': 0.0,
 'X003_64': 0.0,
 'X003_65': 0.0,
 'X003_66': 0.0,
 'X003_67': 0.0,
 'X003_68': 0.0,
 'X003_69': 0.0,
 'X003_70': 0.005025125628140704,
 'X003_71': 0.0,
 'X003_72': 0.0,
 'X003_73': 0.005025125628140704,
 'X003_74': 0.0,
 'X003_75': 0.0,
 'X003_76': 0.0,
 'X003_77': 0.0,
 'X003_78': 0.0,
 'X003_79': 0.0,
 'X003_80': 0.0,
 'X003_81': 0.0,
 'X003_82': 0.0,
 'X003_83': 0.0,
 'X003_84': 0.0,
 'X003_85': 0.0,
 'X003_86': 0.0,
 'X003_87': 0.0,
 'X003_88': 0.0,
 'X003_89': 0.0,
 'X003_90': 0.0,
 'X003_91': 0.0,
 'X003_92': 0.0,
 'X003_93': 0.0,
 'X003_94': 0.0,
 'X003_95': 0.0,
 'X003_96': 0.0,
 'X003_97': 0.0,
 'X003_98': 0.0,
 'X003_99': 0.0,
 'X003_100': 0.0,
 'X003_101': 0.0,
 'X003_102': 0.0,
 'X003_103': 0.0,
 'X003_108': 0.0,
 'X011_-5': 0.0,
 'X011_-4': 0.0,
 'X011_-3': 0.0,
 'X011_-2': 0.0,
 'X011_-1': 0.0,
 'X011_0': 0.21105527638190955,
 'X011_1': 0.10552763819095476,
 'X011_2': 0.2613065326633166,
 'X011_3': 0.21608040201005024,
 'X011_4': 0.09547738693467336,
 'X011_5': 0.08040201005025126,
 'X011_6': 0.01507537688442211,
 'X011_7': 0.0,
 'X011_8': 0.01507537688442211,
 'X023_-5.0': 0.0,
 'X023_-4.0': 0.0,
 'X023_-3.0': 0.010050251256281407,
 'X023_-2.0': 0.0,
 'X023_-1.0': 0.0,
 'X023_0.0': 0.0,
 'X023_1.0': 0.0,
 'X023_2.0': 0.0,
 'X023_3.0': 0.0,
 'X023_4.0': 0.0,
 'X023_5.0': 0.0,
 'X023_6.0': 0.0,
 'X023_7.0': 0.0,
 'X023_8.0': 0.0,
 'X023_9.0': 0.0,
 'X023_10.0': 0.005025125628140704,
 'X023_11.0': 0.0,
 'X023_12.0': 0.02512562814070352,
 'X023_13.0': 0.01507537688442211,
 'X023_14.0': 0.02010050251256281,
 'X023_14.5': 0.0,
 'X023_15.0': 0.01507537688442211,
 'X023_16.0': 0.02512562814070352,
 'X023_17.0': 0.02010050251256281,
 'X023_18.0': 0.04020100502512563,
 'X023_19.0': 0.02512562814070352,
 'X023_20.0': 0.18592964824120606,
 'X023_21.0': 0.02512562814070352,
 'X023_22.0': 0.04522613065326633,

In [33]:
properties = []

for idx, row in IVS_region.iterrows():
    print(idx)
    new_dict = {}
    
    # for each row we create a dict
    # {..., 
    #  column_id: {label: 'description',
    #              frequencies: {dict with the anwers onehot encoded}
    #.             categories: {dict with the answers codes}}, 
    #  ...}
    
    # label and categories are from variables_dict
    
    # add the original region labels
    new_dict["original region code"]= {
        'Region Numeric': row.json['Region Numeric'],
        'Region Name': row.json['Region Name'],
        'NUTS1': row.json['NUTS1'],
        'NUTS2': row.json['NUTS2'],
        'NUTS3': row.json['NUTS3'],
    }
    
    
    for answer_code in variables_dict.keys():
        
        # we already have label and categories
        sub_dict = variables_dict[answer_code]
        
        # we need frequencies
        # in the row json we have a flat dict
        # we want to aggregate by name of the answer
        sub_dict["Frequencies"] = {}
        
        for key, item in row.json.items():
            if key.startswith(answer_code):
                sub_dict["Frequencies"][key] = item
        new_dict[answer_code] = sub_dict
        
    properties.append(new_dict)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474

In [49]:
df_to_save = IVS_region[ ['Survey', 'Wave', 'Country Numeric', 
                           'Country Name', 'Country ISO3', 'Sample Size', 'gid',
                           'Region Numeric','Region Name', 'NUTS1', 'NUTS2', 'NUTS3'] ].copy()
df_to_save["Properties"] = properties

In [50]:
df_to_save.to_csv("to_upload/IVS_region_GID.csv", index=False)

# UPLOAD
## Loads the data from csv, there is no need to run the cells above

In [37]:
import pandas
import psycopg2

In [52]:
def create_IVS_region_table(cur):
    sql_create_country_stats_table = """ 
        CREATE TABLE IF NOT EXISTS IVS_region (
            survey text NOT NULL,
            wave text NOT NULL,
            country text NOT NULL,
            countrycode text NOT NULL,
            region text,
            regioncode text,
            NUTS1 text,
            NUTS2 text,
            NUTS3 text,
            sample_size integer NOT NULL,
            gid text NOT NULL,
            properties jsonb,
            UNIQUE (survey, wave, country, countrycode, gid),
            PRIMARY KEY (survey, wave, country, countrycode, gid)
        )"""

    cur.execute(sql_create_country_stats_table)

    print("IVS_country table created")

In [39]:
def drop_IVS_region_table(cur):
    sql_drop_IVS_region_table = """DROP TABLE IVS_region"""
    
    try:
        cur.execute(sql_drop_IVS_region_table)
        conn.commit() 
        print("IVS_region table deleted")
    except:
        print("IVS_region not present")

In [55]:
def import_IVS_region_data(cur,PATH):
    
    INSERT_STATEMENT = 'INSERT INTO IVS_region \
                            (survey, wave, \
                             country, countrycode,  \
                             region, regioncode, \
                             NUTS1, NUTS2, NUTS3, \
                             sample_size, gid, \
                             properties) \
                        VALUES (%s, %s, \
                                %s, %s, \
                                %s, %s, \
                                %s, %s, %s, \
                                %s, %s, \
                                %s);'
    
    data = pd.read_csv(PATH)

    for idx, row in data.iterrows():
        print(idx)
        cur.execute(INSERT_STATEMENT, (row['Survey'], row['Wave'], 
                                       row['Country Name'], row['Country ISO3'], 
                                       row['Region Name'], row['Region Numeric'],
                                       row['NUTS1'], row['NUTS2'], row['NUTS3'],
                                       row['Sample Size'], row['gid'],
                                       json.dumps(row["Properties"])))

In [56]:
# Connect to covid19db.org
conn = psycopg2.connect(
    host='covid19db.org',
    port=5432,
    dbname='covid19db_adm_play',
    user='covid19db_adm_rw',
    password='fGt962FdeG2yXj3c4d3'
)

cur = conn.cursor()

drop_IVS_region_table(cur)
conn.commit()


create_IVS_region_table(cur)
conn.commit()

# there are 475 rows 
import_IVS_region_data(cur, "to_upload/IVS_region_GID.csv")
conn.commit()

IVS_region table deleted
IVS_country table created
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474

In [57]:
cur.execute("""SELECT * FROM IVS_region""")

data = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
data

,survey,wave,country,countrycode,region,regioncode,nuts1,nuts2,nuts3,sample_size,gid,properties
0,WVS,1999-2004,Bangladesh,BGD,BD: Dhaka,50001,,,,199,BGD.3.1_1,{'original region code': {'Region Numeric': 50...
1,WVS,1999-2004,Bangladesh,BGD,BD: Chittagong,50002,,,,121,BGD.2.4_1,{'original region code': {'Region Numeric': 50...
2,WVS,1999-2004,Bangladesh,BGD,BD: Barisal,50003,,,,105,BGD.1.2_1,{'original region code': {'Region Numeric': 50...
3,WVS,1999-2004,Bangladesh,BGD,BD: Mymensingh,50004,,,,128,BGD.3.10_1,{'original region code': {'Region Numeric': 50...
4,WVS,1999-2004,Bangladesh,BGD,BD: Tangail,50005,,,,81,BGD.3.17_1,{'original region code': {'Region Numeric': 50...
...,...,...,...,...,...,...,...,...,...,...,...,...
470,EVS,2008-2010,United Kingdom of Great Britain and Northern I...,GBR,Unknown,-5,GB-GBNL,GB-GBNL2,-5,22,GBR.4.13_1:GBR.4.15_1:GBR.4.5_1:GBR.4.21_1:GBR...,{'original region code': {'Region Numeric': -5...
471,EVS,2008-2010,United Kingdom of Great Britain and Northern I...,GBR,Unknown,-5,GB-GBNM,GB-GBNM2,-5,43,GBR.3.3_1:GBR.3.5_1:GBR.3.7_1:GBR.3.10_1:GBR.3...,{'original region code': {'Region Numeric': -5...
472,EVS,2008-2010,United Kingdom of Great Britain and Northern I...,GBR,Unknown,-5,GB-GBNM,GB-GBNM3,-5,43,GBR.3.4_1:GBR.3.6_1:GBR.3.8_1:GBR.3.9_1:GBR.3....,{'original region code': {'Region Numeric': -5...
473,EVS,2008-2010,United Kingdom of Great Britain and Northern I...,GBR,Unknown,-5,GB-GBNM,GB-GBNM6,-5,6,GBR.3.4_1:GBR.3.13_1:GBR.3.17_1:GBR.3.20_1:GBR...,{'original region code': {'Region Numeric': -5...
474,EVS,2008-2010,North Ireland,GBR-NIR,Unknown,-5,GB-NIRN,GB-NIRN0,-5,500,GBR.2_1,{'original region code': {'Region Numeric': -5...